
<MudPaper Class="game-board">
@*  <div class="board-cell game-cell-@board.Cell_x0_y0.ToString()" />*@
    @for(int row = 0; row < board.RowCount; row++)
    {
        if (index >= 8)
            index = 0;
        <div class="board-column">
            @for (int col = 0; col < board.ColumnCount; col++)
            {
                var cell = @board.BoardCells[index];
                var savedIndex = index;
                <div class="board-cell cell-@index game-cell-@cell.ToString()
                    game-cell-@cell.ToString()-move-x-@board.Move_X.ToString()"
                    @onclick="() => board.CellClick(savedIndex)" />
                index++;
            }
@*            @for (int col = 0; col < board.ColumnCount; col++)
            {
                var cell = @board.Cells.ElementAt(index);
                <div class="board-cell cell-@index game-cell-@cell.Value.ToString()"
                @onclick="() => CellClick(index)" />
                index++;
            }*@
        </div>
    }
</MudPaper>


@code {
    int index = 0;
    Board board = new Board();
}


