@inject Board board

<MudPaper Class="game-board">
@*  <div class="board-cell game-cell-@board.Cell_x0_y0.ToString()" />*@
    @for(int row = 0; row < board.RowCount; row++)
    {
        if (index >= 8)
            index = 0;
        <div class="board-column">
            @for (int col = 0; col < board.ColumnCount; col++)
            {
                var cell = @board.Cells[row, col];
                var savedRow = row;
                var savedCol = col;

                <div class="board-cell cell-@index game-cell-@cell.ToString()
                    game-cell-@cell.ToString()-move-x-@board.Turn_X.ToString()"
                    @onclick="() => board.NextTurn(savedRow, savedCol)" />
                index++;
            }
        </div>
    }
</MudPaper>


@code {
    int index = 0;
    //Board board = new Board();
}


