body {

}

.game-board {
    display: flex;
    flex-direction: column;
    background-color: #613c91;
    max-width: 490px;
    padding: 10px;
}

.board-column {
    display: flex;
    flex-direction: row;
    min-width: 60px;
    min-height: 60px;
    width: 100%;
}

.board-cell {
    /*border: solid 1px black;*/
    min-height: 60px;
    min-width: 60px;
    border-radius: 2%;
}

.game-cell-X {
    background-image: url("/images/simple-x.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}

.game-cell-O {
    background-image: url("/images/simple-o.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.game-cell-Empty {
    background-image: none;
}
/* отрисовка крестика или нолика при наведении */
.game-cell-Empty-move-x-True:hover {
    background-image: url("/images/simple-x.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.game-cell-Empty-move-x-False:hover {
    background-image: url("/images/simple-o.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.game-cell-Empty-move-x-False::backdrop {
    opacity: 0.2;
}
.game-cell-Empty-move-x-True::backdrop {
    opacity: 0.2;
}

/* отрисовка решетки */
.cell-0 {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
.cell-1 {
    border-bottom: 5px solid black;
}
.cell-2 {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}
.cell-3 {
    border-right: 5px solid black;
}
.cell-5 {
    border-left: 5px solid black;
}
.cell-6 {
    border-top: 5px solid black;
    border-right: 5px solid black;
}
.cell-7 {
    border-top: 5px solid black;
}
.cell-8 {
    border-top: 5px solid black;
    border-left: 5px solid black;
}